@mixin title {
    font-weight: 800;
    color: $main-color;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding-bottom: 34px;

    &::after {
        content: "";
        background: url(../svg/heart-title-element.svg) no-repeat 0 50%;
        position: absolute;
        top: 52px;
        left: calc(50% - 115px);
        width: 229px;
        height: 14px;
    }
}

@mixin description {
    text-align: center;
    color: $light-color;
    font-size: $font-size-xs;
    font-weight: 600;
    line-height: 24px;
}