*,
*:before,
*:after {
  box-sizing: border-box;
}

// body {
//     font: $font-base;
// }

a {
  color: $main-color;
  text-decoration: none;
  border-top: 1px solid transparent;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }
}

ul,
ol {
  list-style: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 26px;
  letter-spacing: 0.6px;
}

header {
  background-color: rgba(16, 24, 54, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  nav .container {
    a,
    &:hover {
      text-decoration: none;
    }

    .navbar-brand {
      padding-top: 10px;

      h1 {
        font-family: $font-logo;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: -1px;
        letter-spacing: 1px;
        position: relative;

        span {
          font-family: $font-family-sans-serif;
          font-size: $font-size-base;
          cursor: default;
          opacity: 0.5;
          position: absolute;
          top: 11px;
          left: 141px;
          letter-spacing: 0.4px;

          &:before {
            content: "";
            position: absolute;
            top: -1px;
            left: -21px;
            width: 1px;
            height: 17px;
            background-color: #2fa5e0;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .navbar-nav {
      a:hover {
        border-top: 1px solid $color-accent;
      }
    }
  }
}

.carousel-indicators {
  top: 0;
  left: unset;
  right: 22px;
  margin: 0;
  height: 100%;
  justify-content: center;

  li {
    width: 6px;
    height: 6px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 15px;

    &.active {
      background-color: $white;
      border: 1px solid $white;
    }
  }
}

.carousel-item {
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-caption {
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    margin-bottom: 135px;

    .lg-title-item {
      font-size: $font-size-xl;
      line-height: 57px;

      strong {
        font-weight: 700;
      }
    }

    .md-title-item {
      font-size: $font-size-l;
      margin-bottom: 10px;
    }

    .sm-title-item {
      font-size: $font-size-xs;
    }

    .accent-title {
      color: $main-color;
    }

    .sm-title-item {
      position: relative;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 14px;
        width: 28px;
        height: 1px;
        background-color: $main-color;
      }

      &:before {
        left: -61px;
      }

      &:after {
        left: 283px;
      }
    }
  }
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: -72px;

  ul {
    display: flex;
    justify-content: space-between;
    min-width: 115px;
    z-index: 4;
    padding-left: inherit;
  }

  li {
    display: flex;
    align-items: center;
    margin: 0 6px;

    a,
    span {
      display: block;
    }

    a:hover {
      text-decoration: none;
    }

    .icon {
      color: $white;
      opacity: 0.3;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

main {
  .title-block{@include title-block;}

  .features-block {
    background-color: #f4f7f9;
    ul {
      display: flex;

      li {
        .features-title {
          @include features-title;
        }
      }
    }
  }
}
