*,
*:before,
*:after {
  box-sizing: border-box;
}

// body {
//     font: $font-base;
// }

a {
  color: $main-color;
  text-decoration: none;
  border-top: 1px solid transparent;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }
}

ul,
ol {
  list-style: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 26px;
  letter-spacing: 0.6px;
}

header {
  background-color: rgba(16, 24, 54, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  nav .container {

    a,
    &:hover {
      text-decoration: none;
    }

    .brand-wrapper {
      display: flex;
      align-items: center;
      margin-top: 13px;

      .navbar-brand {
        font-family: $font-logo;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: -1px;
        letter-spacing: 1px;
      }

      span {
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        color: $white;
        opacity: 0.5;
        padding: 1px 0 1px 20px;
        margin: 5px 0 0 12px;
        letter-spacing: 0.4px;
        border-left: 1px solid $color-accent;
        white-space: nowrap;
      }
    }

    .navbar-nav {
      a:hover {
        border-top: 1px solid $color-accent;
      }
    }
  }
}

.carousel-wrapper {
  .carousel-indicators {
    top: 0;
    left: unset;
    right: 22px;
    margin: 0;
    height: 100%;
    justify-content: center;

    li {
      width: 6px;
      height: 6px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      background-color: transparent;
      margin-bottom: 15px;

      &.active {
        background-color: $white;
        border: 1px solid $white;
      }
    }
  }

  .carousel-item {
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .carousel-caption {
      flex-direction: column;
      align-items: center;
      font-weight: 300;
      margin-bottom: 135px;

      .lg-title-item {
        font-size: $font-size-xl;
        line-height: 57px;

        strong {
          font-weight: 700;
        }
      }

      .md-title-item {
        font-size: $font-size-l;
        margin-bottom: 10px;
      }

      .sm-title-item {
        font-size: $font-size-xs;
      }

      .accent-title {
        color: $main-color;
      }

      .sm-title-item {
        position: relative;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 14px;
          width: 28px;
          height: 1px;
          background-color: $main-color;
        }

        &:before {
          left: -61px;
        }

        &:after {
          left: 283px;
        }
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 33px;
    left: 0;
    width: 100%;
    z-index: 4;
    padding-left: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      margin: 0 6px;

      a,
      span {
        display: block;
      }

      a:hover {
        text-decoration: none;
      }

      .icon {
        color: $white;
        opacity: 0.3;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}


main {
  .title {
    @include title;
  }

  >section {
    padding-top: 70px;
  }

  .features {
    background-color: $secondary;
    padding-bottom: 120px;

    .title {
      margin-bottom: 59px;
    }

    .item {
      &:hover .icon {
        color: $secondary;
        border: 15px solid $main-color;
        background-color: $main-color;
        transition: all 0.5s ease-in-out;
      }

      .icon {
        color: $main-color;
        min-width: 40px;
        height: 40px;
        border: 1px solid $main-color;
        border-radius: 50%;
        margin: 4px 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.7s ease-in-out;


      }

      .features-info {
        .features-title {
          display: block;
          font-size: $font-size-s;
          color: $dark-color;
          margin-bottom: 14px;
        }

        p {
          color: #717982;
          line-height: 21px;
        }
      }
    }
  }

  .works {
    .title {
      margin-bottom: 30px;
    }

    .description {
      @include description;
      margin-bottom: 47px;
    }

    .tabs {
      li+li {
        margin-left: 11px;
      }

      a {
        display: block;
        color: $dark-color;
        font-size: $font-size-xxs;
        font-weight: 700;
        padding: 4px 18px;
        border-radius: 6px;
        border: 1px solid transparent;


        &.active {
          background: $main-color;
          color: $white;
          text-decoration: none;
          border: 1px solid $main-color;
        }

        &:hover {
          border: 1px solid $main-color;
          text-decoration: none;
        }
      }
    }

    .thumbnail-item {
      position: relative;

      .img-description {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        font-size: 30px;
        text-align: center;
        background: $main-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        color: $white;

        .icon {
          color: $white;
          min-width: 40px;
          height: 0;
          border: 1px solid $white;
          border-radius: 50%;
          margin: 4px 16px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease-in-out;
        }

        strong {
          font-size: $font-size-xs;
          font-weight: 700;
        }

        p {
          font-size: $font-size-xxs;
          font-weight: 400;
        }

        &:hover {
          text-decoration: none;
        }

      }

      &:hover {
        .img-description {
          visibility: visible;
          opacity: 0.9;
          transition: all 0.3s ease-in-out;
        }

        .icon {
          color: $white;
          min-width: 40px;
          height: 40px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}