*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $main-color;
  text-decoration: none;
  border-top: 1px solid transparent;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }
}

ul,
ol {
  list-style: none;
}

.icon:focus,
a:focus,
li:focus{
    outline: none;
  }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 26px;
  letter-spacing: 0.6px;

  @include media-breakpoint-down(lg){
    text-align: center;
    margin-left: 0;
    font-size: $font-size-s;
  }
}

header {
  background-color: rgba(16, 24, 54, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  nav .container {

    a,
    &:hover {
      text-decoration: none;
    }

    .brand-wrapper {
      display: flex;
      align-items: center;
      margin-top: 13px;

      .navbar-brand {
        @include logo
      }

      span {
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        color: $white;
        opacity: 0.5;
        padding: 1px 0 1px 20px;
        margin: 5px 0 0 12px;
        letter-spacing: 0.4px;
        border-left: 1px solid $color-accent;
        white-space: nowrap;
      }
    }

    .navbar-nav {
      a:hover {
        border-top: 1px solid $color-accent;

        @include media-breakpoint-down(lg){
          border-top: none;
          border-bottom: 1px solid $color-accent;
        }

      }
    }
  }
}

.carousel-wrapper {

  .carousel-indicators {
    top: 0;
    left: unset;
    right: 22px;
    margin: 0;
    height: 100%;
    justify-content: center;

    li {
      width: 6px;
      height: 6px;
      border: 1px solid rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      background-color: transparent;
      margin-bottom: 15px;

      &.active {
        background-color: $white;
        border: 1px solid $white;
      }
    }
  }

  .carousel-item {
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .carousel-caption {
      flex-direction: column;
      align-items: center;
      font-weight: 300;
      margin-bottom: 135px;

      .lg-title-item {
        font-size: $font-size-xl;
        line-height: 57px;

        strong {
          font-weight: 700;
        }
      }

      .md-title-item {
        font-size: $font-size-l;
        margin-bottom: 10px;
      }

      .sm-title-item {
        font-size: $font-size-xs;
      }

      .accent-title {
        color: $main-color;
      }

      .sm-title-item {
        position: relative;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 14px;
          width: 28px;
          height: 1px;
          background-color: $main-color;
        }

        &:before {
          left: -61px;
        }

        &:after {
          left: 283px;
        }
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 33px;
    left: 0;
    width: 100%;
    z-index: 4;
    padding-left: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      margin: 0 6px;

      a,
      span {
        display: block;
      }

      a:hover {
        text-decoration: none;
      }

      .icon {
        color: $white;
        opacity: 0.3;
        transition: all 0.3s ease-in-out;
        font-size: 1.125rem;

        &.icon-google-plus{
          font-size: 1.4rem;

          @include media-breakpoint-down(md){
            font-size: 2.5rem;
          }
        }

        @include media-breakpoint-down(md){
          font-size: 2rem;
        }

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
}

main {
  .title {
    @include title;
  }

  >div {
    padding-top: 93px;
  }

  .features {
    background-color: $secondary-light;
    padding-bottom: 120px;

    .title {
      margin-bottom: 59px;
    }

    .item {
      &:hover {
        cursor: default;
      }

      &:hover .icon {
        color: $secondary-light;
        border: 15px solid $main-color;
        background-color: $main-color;
        transition: all 0.5s ease-in-out;
      }

      .icon {
        color: $main-color;
        min-width: 40px;
        height: 40px;
        border: 1px solid $main-color;
        border-radius: 50%;
        margin: 4px 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.7s ease-in-out;
      }

      .features-info {
        .features-title {
          display: block;
          font-size: $font-size-s;
          color: $dark-color;
          margin-bottom: 14px;
        }

        p {
          color: #717982;
          line-height: 21px;
        }
      }
    }
  }

  .works {
    .title {
      margin-bottom: 30px;
    }

    .description {
      @include description;
      margin-bottom: 47px;
    }

    .tabs {
      li+li {
        margin-left: 11px;
      }

      a {
        display: block;
        color: $dark-color;
        font-size: $font-size-xxs;
        font-weight: 700;
        padding: 4px 18px;
        border-radius: 6px;
        border: 1px solid transparent;

        &.active {
          background: $main-color;
          color: $white;
          text-decoration: none;
          border: 1px solid $main-color;
        }

        &:hover {
          border: 1px solid $main-color;
          text-decoration: none;
        }
      }
    }

    .thumbnail-item {
      position: relative;

      .img-description {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        font-size: 30px;
        text-align: center;
        background: rgba($main-color, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        color: $white;

        .icon {
          color: $white;
          min-width: 40px;
          height: 0;
          border: 1px solid $white;
          border-radius: 50%;
          margin: 4px 16px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease-in-out;
        }

        strong {
          font-size: $font-size-xs;
          font-weight: 700;
        }

        p {
          font-size: $font-size-xxs;
          font-weight: 400;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        .img-description {
          visibility: visible;
          opacity: 1;
          transition: all 0.3s ease-in-out;
        }

        .icon {
          color: $white;
          min-width: 40px;
          height: 40px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  .team {
    margin-bottom: 198px;

    
    @include media-breakpoint-down(sm) {
      figure {
        margin-bottom: 50px;
      }
    }


    .title {
      margin-bottom: 30px;
    }

    .description {
      @include description;
      margin-bottom: 107px;
    }

    figure {
      &:hover {
        cursor: default;
      }

      &:hover .person-description {
        transition: all 0.3s ease-in-out;
        opacity: 1;
      }

      &:hover .person-name {
        color: $main-color;
      }

      .person-photo {
        position: relative;
        max-width: 270px;
        margin: 0 auto;

        img {
          max-width: 100%;
          min-width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

      .person-description {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 20px;
        font-size: 16px;
        background: rgba($main-color, 0.95);
        color: $white;
        z-index: 10;
        opacity: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;

        strong {
          margin-bottom: 7px;
        }

        .socials {
          padding-left: 0;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          margin: 0;
          flex: 1;
        }

        li {
          width: 42px;
          height: 42px;
          background: rgba($black, 0.3);
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid transparent;
          margin: 0 2px;
          transition: all 0.3s ease-in-out;

          &:hover {
            border: 1px solid $white;
            background: transparent;
          }
        }

        a {
          color: $white;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .person-name {
        display: block;
        font-size: $font-size-xs;
        font-weight: 600;
        color: $dark-color;
        transition: all 0.3s ease-in-out;
        margin-bottom: 5px;
        margin-top: 15px;
      }

      .person-position {
        color: $primary-color-dark;
      }
    }
  }

  .facts {
    background: url(../images/bg-section-facts.jpg) no-repeat 0 50%;
    color: $white;
    padding-bottom: 96px;
    background-size: cover;

    .title {
      margin-bottom: 24px;
    }

    .item{
      margin-bottom: 40px;
    }

    .icon {
      width: 130px;
      height: 130px;
      border: 2px solid #b1b0b2;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      transition: background 1.2s cubic-bezier(.07,1.19,.51,.89),
        border 0.3s ease-in-out;
      margin-bottom: 38px;

&:hover {
          background: $main-color;
          border: 2px solid $main-color;
          transition: background 1.2s cubic-bezier(.07,1.19,.51,.89), border 1s ease-in-out;
          
          path {
            fill: transparent;
          stroke: $white;
          }
        }
        
        &.fact-1,
        &.fact-2,
        &.fact-3,
        &.fact-4 {
          path {
            stroke-dasharray: 198;
            stroke-dashoffset: 0;
            stroke-width: 1;
          }
          
          &:hover {
            path {
              animation: animate-icon 0.7s cubic-bezier(.07,1.19,.51,.89)
                forwards;
            }
          }
        }
      
      @keyframes animate-icon {
        0% {
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dashoffset: 198;
        }
        100% {
          stroke-dashoffset: 396;
        }
      }
    }

    .facts-title {
      font-size: $font-size-xl;
      font-weight: 600;
      line-height: 69px;
    }

    .facts-text {
      font-size: $font-size-xs;
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  .discuss {
     div ~ div {
       margin-bottom: 30px;
      }

    .title {
      margin-bottom: 30px;
    }

    .description {
      @include description;
      margin-bottom: 74px;
    }

    .address-wrapper {

      @include media-breakpoint-down(sm){
        text-align: center;
      }

      .address-title {
        font-size: 22px;
        color: $dark;
        display: block;
        margin-bottom: 31px;

      }

      address {
        display: flex;
        flex-direction: column;
        font-size: $font-size-xxs;
        max-width: 200px;

        @include media-breakpoint-down(sm){
          min-width: 100%;
        }

        a,
        p {
          line-height: 23px;
          color: $secondary-dark;
          margin-bottom: 0;
        }
      }
    }

    .form-wrapper {

      strong {
        display: block;
        font-size: 24px;
        line-height: 29px;
        color: $dark-color;
        margin-bottom: 29px;
      }

      .form-control {
        height: 53px;
        border: none;
        border-radius: initial;
        border-bottom: 1px solid $primary-color-light;

        &:focus {
          border-color: $main-color;
          box-shadow: none;

          ~label {
            color: $main-color;
          }
        }
      }

      label {
        color: $primary-color;
      }

      textarea {
        resize: none;

        &:focus {
          resize: vertical;
        }
      }

      .submit-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
        border: 1px solid transparent;

        &:before {
          content: "";
          background: url(../svg/mail.svg) no-repeat;
          width: 23px;
          height: 16px;
          margin-top: 14px;
          margin-right: 5px;
        }

        .form-button {
          width: auto;
          font-size: 16px;
          background: none;
          border: none;
          padding-top: 9px;

          &:focus{
            outline: none;
          }
        }
      }
    }

    .discuss-socials {
      display: flex;
      justify-content: center;
      margin-top: 17px;
      margin-bottom: 99px;

      ul {
        padding-left: 0;

        @include media-breakpoint-down(md){
          display: flex;
        }

        li {
          margin-bottom: 16px;

          @include media-breakpoint-down(md){
            margin: 20px;
          }

          a {

            &:hover {
              text-decoration: none;
            }

            .icon {
              color: $primary-color-light;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $main-color;
                text-decoration: none;
              }
            }
          }

        }
      }
    }
  }

  .map {
    img {
      // max-width: 100%;
      height: 100%;
      object-fit: cover;

      @include media-breakpoint-down(md){
        height: 200px;
      }
    }
  }

  .footer-wrapper {
    background: $main-color;
    color: $white;
    border-top: 5px solid $dark-color;
    padding-top: 109px;
    padding-bottom: 93px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
       div{
         margin: 20px 0 20px;
       }
    }

    a {
      color: $white;

      &:hover {
        text-decoration: underline;
      }
    }

    .logo {
      @include logo;
      display: block;
      margin-top: -17px;
      margin-bottom: 28px;

      a,
      &:hover {
        text-decoration: none;
      }
    }

    .title-footer {
      display: block;
      margin-bottom: 42px;
      font-size: $font-size-xxs;
    }

    .input-wrapper {
      position: relative;
      margin-bottom: 17px;

      .input-subscription {
        height: 46px;
        width: 100%;
        color: $white;
        background: $main-color;
        padding-left: 8px;
        padding-right: 50px;
        border: 2px solid $white;
        border-radius: 3px;
        font-size: $font-size-xs;

        &:focus {
          outline: none;
          background: rgba($white, 0.07);
        }
      }

      .send-button {
        background: url(../svg/arrow.svg)no-repeat;
        width: 18px;
        height: 13px;
        position: absolute;
        top: 17px;
        right: 20px;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }

    p {
      line-height: 24px;
    }

    .footer-list {
      column-count: 2;
      padding-left: 0;
      margin-top: -5px;
      width: 286px;
      
      li {
        margin-bottom: 13px;
      }
    }

    .about-author {
      line-height: 24px;
      padding: 54px 12px 0;

      >span {
        display: block;
        margin-bottom: 48px;
        position: relative;

        &:before {
          content: "";
          width: 1px;
          height: 39px;
          position: absolute;
          top: 6px;
          left: -15px;
          background: #1a957e;

          @include media-breakpoint-down(md){
            height: 16px;
          }
        }

        img {
          margin: 0 5px;
        }
      }

      a,
      p {
        color: $dark-color;
      }

    }
  }
}