// FONT
$font-logo: "Pacifico",
cursive;

// FONT SIZE
$font-size-xs: 18px;
$font-size-s: 20px;
$font-size-m: 28px;
$font-size-l: 48px;
$font-size-xl: 62px;

// COLORS
$main-color: #0eb493;
$base-color:#292f36;
$color-accent:#2fa5e0;
$primary-color: #8e9296;
$light-color: #7c7f83;
$dark-color: #062033;
