$baseColor: #fff;
$mainColor: #ff4f00;
$fadedColor: #8d8d8d;

$font-light: "Gilroy-Light",
sans-serif;
$font-semibold: "Gilroy-SemiBold",
sans-serif;
$font-bold: "Gilroy-Bold",
sans-serif;

$font-lg: 63px;
$font-medium: 19px;
$font-small: 16px;
$font-x-small: 14px;